<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
      {% block title %}
      {% endblock %}
    </title>
</head>
<body>
<header>
  Products pages
</header>
{% block body %}
{% endblock %}
</body>
</html>